<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{title: movies.title }) %>

<!-- ----------------------------------- -->

<body class="body_moviesAdd">

  <div class="body_codingnepal">

    <%- include('partials/slideBarMenu') %>

    <div class="moviesAdd_box">
    
        <div class="form-wrapper_codingnepal">
          
            
            <div class="moviesAdd_box_Form">
              <section class="container">
                <header>Editar Película</header>
                <form action="/movies/update/<%= movies.id %>?_method=PUT" method="POST" class="form">
  
                  <!-- title -->
                  <div class="input-box">
                    <label>Titulo de la Película</label>
                    <input name="title" id="title" type="text" placeholder="Titulo de la Película" value="<%= movies.title %>" required />
                  </div>
  
                  <div class="column">
  
                    <!-- rating -->
                    <div class="input-box">
                      <label>Rating</label>
                      <input name="rating" id="rating" type="number" placeholder="Rating" value="<%= movies.rating %>" required />
                    </div>
  
                    <!-- awards -->
                    <div class="input-box">
                      <label>Awards</label>
                      <input name="awards" id="awards" type="number" placeholder="Awards" value="<%= movies.awards %>" required />
                    </div>
  
                    <!-- length -->
                    <div class="input-box">
                      <label>Duracion</label>
                      <input name="length" id="length" type="number" placeholder="Duracion" value="<%= movies.length %>" required />
                    </div>
  
                    <!-- release_date -->
                    <div class="input-box">
                      <label>Estreno</label>
                      <input name="release_date" id="release_date" type="date" placeholder="Estreno" value="<%= moment(movies.release_date).format('YYYY-MM-DD') %>" required />
                    </div>
  
                  </div>
  
                  <!-- genre -->
                  <div class="column">
                    <div class="input-box">
                      <label>Género</label>
                      <div class="select-box">
                        <select name="genre_id" id="genre_id">
                        <% genres.forEach(genre => { %>
                          <option value="<%= genre.id %>" <%= genre.id === movies.genre_id && 'selected' %> ><%= genre.name %></option>
                        <% }) %>
                        </select>
                      </div>
                    </div>
  
                  </div>
  
                  <!-- Actors -->
                  <div class="gender-box">
                    <h3>Actores</h3>
                    <div class="gender-option">
                      <div class="gender">
                      <% actors.forEach(actor => {  %>
                      
                      <div class="form-check">
                      
                        <input name="actor" type="checkbox" <%= movies.actors.map(actor => actor.id).includes(actor.id) && 'checked' %> id="actor<%= actor.id %>" value="<%= actor.id %>"/>
                        <label for="actor<%= actor.id %>">
                          
                            <%= actor.first_name %> <%= actor.last_name %>
                          
                        </label> 
                      
                      </div>
                      
                        
                        
                        <% }) %>

                      </div>
  
                    </div>
                  </div>
  
                  <!-- btn Guardar -->
                  <div class="button_codingnepal">
                    <button class="glow-on-hover" type="submit">Guardar</button>
                  </div>
                </form>
              </section>
            </div>
          </div>
    
    </div>
      
  </div>
  
  <%- include('partials/scripts') %>
</body>
<!-- ---------------------------------- -->
<footer>

</footer>

</html>