<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'SalióPeli | Agregar Película' }) %>

  <!-- ----------------------------------- -->

  <body class="body_moviesAdd">

    <div class="">

      <%- include('partials/slideBarMenu') %>

        <div class="moviesAdd_box">
          <div class="moviesAdd_box_Form">
            <section class="container">
              <header>Agregar Película</header>
              <form action="/movies/create" method="POST" class="form" enctype="multipart/form-data">

                <!-- title -->
                <div class="input-box">
                  <label>Titulo de la Película</label>
                  <input name="title" id="title" type="text" placeholder="Titulo de la Película" required />
                </div>
                
                <!-- image -->
                <div class="input-box">
                  <label for="formFile">Imagen</label>
                  <input   type="file"
                  id="formFile"
                  name="image"/>
                </div>

                <div class="column">

                  <!-- rating -->
                  <div class="input-box">
                    <label>Rating</label>
                    <input name="rating" id="rating" type="number" placeholder="Rating" required />
                  </div>

                  <!-- awards -->
                  <div class="input-box">
                    <label>Awards</label>
                    <input name="awards" id="awards" type="number" placeholder="Awards" required />
                  </div>

                  <!-- length -->
                  <div class="input-box">
                    <label>Duración</label>
                    <input name="length" id="length" type="number" placeholder="Duración" required />
                  </div>

                  <!-- release_date -->
                  <div class="input-box">
                    <label>Estreno</label>
                    <input name="release_date" id="release_date" type="date" placeholder="Estreno" required />
                  </div>
                  

                </div>
                <!--
                <div class="form-group">
                  <label class="form-group__label" for="image">Imagen:</label>
                  <input
                    class="form-group__input"
                    type="file"
                    id="image"
                    name="image"
                  
                  />
                </div> -->
                

                <!-- genre -->
                <div class="column">
                  <div class="input-box">
                    <label>Género</label>
                    <div class="select-box">
                      <select name="genre_id" id="genre_id">
                      <% genres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %></option>
                      <% }) %>
                      </select>
                    </div>
                  </div>

                </div>

                <!-- Actors -->
                <div class="row">
                  <h4>Actores</h4>
                  <% actors.forEach(actor=> { %>
                      <div class="col-12 col-md-3 col-lg-2">
                          <div class="form-check">
                              <input name="actors" class="form-check-input" type="checkbox"
                                  value="<%= actor.id %>" id="actor<%= actor.id %>">
                              <label class="form-check-label" for="actor<%= actor.id %>">
                                  <%= actor.first_name %>
                                      <%= actor.last_name %>
                              </label>
                          </div>
                      </div>
                      <% }) %>
              </div>

                <!-- btn Agregar -->
                <div class="button_codingnepal">
                  <button class="glow-on-hover" type="submit">Agregar</button>
                </div>
              </form>
            </section>
          </div>
        </div>
    </div>
  </body>
  <%- include('partials/scripts') %>
  <!-- ---------------------------------- -->
  <footer>

  </footer>

</html>