<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{title: movies.title }) %>

<!-- ----------------------------------- -->

<body class="body_moviesAdd">

  <div class="body_codingnepal">

    <%- include('partials/slideBarMenu') %>

    <div class="moviesAdd_box">
    
        <div class="form-wrapper_codingnepal">
            <h2>Agregar Película</h2>
            <form action="/movies/create" method="POST" class="form_codingnepal">
              <div class="form-control_codingnepal">
                <!-- title -->
                <input type="text" class="input_codingnepal" id="title"
                 name="title" value="<%= movies.title %>" required>
                <label>Título de la película</label>
              </div>
              <div class="form-control_codingnepal">
                <!-- rating -->
                <input class="input_codingnepal" type="number"
                name="rating" id="rating" value="<%= movies.rating %>" required>
                <label>Rating</label>
              </div>
              <div class="form-control_codingnepal">
                <!-- awards -->
                <input class="input_codingnepal" type="number"
                name="awards" id="awards" value="<%= movies.awards %>" required>
                <label>Premios</label>
              </div>
              <div class="form-control_codingnepal">
                <!-- release_date -->
                <input class="input_codingnepal" type="date"
                name="release_date" id="release_date" value="<%= moment(movies.release_date).format('YYYY-MM-DD') %>">
                <label>Estreno</label>
              </div>
              <div class="form-control_codingnepal">
                <!-- length -->
                <input class="input_codingnepal" type="number"
                name="length" id="" value="<%= movies.length %>"  required>
                <label>Duración</label>
              </div>
              
              <!-- btn Agregar -->
              <div class="button_codingnepal">
                <button class="glow-on-hover" type="submit">Agregar</button>
              </div>
              
            </form>
          </div>
    
    </div>
      
  </div>
  
  <%- include('partials/scripts') %>
</body>
<!-- ---------------------------------- -->
<footer>

</footer>

</html>