<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'SalióPeli | Lista de Películas' }) %>

    <!-- ----------------------------------- -->

    <body class="body_moviesList">

        <div class="movieList__body_codingnepal">

            <%- include('partials/slideBarMenu') %>
                <div class="movieList_cards-wrapper_codingnepal">
                    <div class="movieList_cards-box">

                        <main class="movieList__main">
                        
                            <h1 class="text-light bg-dark movieList__title">LISTADO DE PELÍCULAS</h1>
                            
                            <nav aria-label="breadcrumb" class="movieList__breadcrumb">
                                <ol class="breadcrumb txt__blanco">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <% if (result === 1) { %>
                                        <li class="breadcrumb-item"><a href="/movies">Películas</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Resultado de la búsqueda</li>
                                    <% } else { %>
                                        <li class="breadcrumb-item txt__blanco active" aria-current="page">Películas</li>
                                    <% } %>
                                </ol>
                            </nav>
                            <div class="admin__main__containerTable bg-dark">
                            
                            

                                <table class="table table-dark table-hover admin__table ">
                                
                                    
                                    <form action="/movies/search" method="GET">
                                        <div class="movieList__searchContainer">
                                            <div class="input-group movieList__search">
                                                <input type="text" class="form-control" name="keyword">
                                                <button type="submit" class="input-group-text"><i
                                                        class="fa fa-search"></i></button>
                                            </div>

                                        </div>


                                    </form>

                                    <thead class="admin__table__thead">
                                        <tr>
                                            <th class="bg-dark text-white" scope="col">#</th>

                                            <th class="bg-dark text-white" scope="col">Título</th>

                                            <th class="bg-dark text-white" scope="col">Premios</th>

                                            <th class="bg-dark text-white" scope="col">Rating</th>

                                            <th class="bg-dark text-white" scope="col">Duración</th>

                                            <th class="bg-dark text-white" scope="col">Estreno</th>

                                            <th class="bg-dark text-white" scope="col">Género</th>

                                            <th class="bg-dark text-white" scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="moviesList__tbody">
                                        <% for( let i=0; i < movies.length; i++ ) { %>
                                            <tr>
                                                <th class="bg-dark text-white " scope="row">
                                                    <%= i + 1 %>
                                                </th>

                                                <td class="bg-dark text-white ">

                                                    <a href="/movies/detail/<%= movies[i].id %>">
                                                        <%= movies[i].title %>
                                                    </a>

                                                </td>

                                                <td class="bg-dark text-white text__center">
                                                    <%= movies[i].awards %>
                                                </td>

                                                <td class="bg-dark text-white text__center">
                                                    <%= movies[i].rating %>
                                                </td>

                                                <td class="bg-dark text-white text__center">
                                                    <%= movies[i].length || 'Sin especificar' %>
                                                </td>

                                                <td class="bg-dark text-white text__center">
                                                    <%= moment(movies[i].release_date).format('YYYY-MM-DD')
                                                        || 'Sin especificar' %>
                                                </td>

                                                <td class="bg-dark text-white text__center">
                                                    <%= movies[i].genre?.name || 'Sin especificar' %>
                                                </td>

                                                <td>
                                                    <div class="d-flex justify-content-center gap-1">

                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#detailProduct<%= movies[i].id %>">
                                                            <i class="fas fa-eye"></i>
                                                        </button>

                                                        <div class="modal fade admin__modalContainer"
                                                            id="detailProduct<%= movies[i].id %>" tabindex="-1"
                                                            aria-labelledby="detailProduct<%= movies[i].id %>Label"
                                                            aria-hidden="true">
                                                            <div
                                                                class="modal-dialog  modal-dialog-centered text-white admin__modal__container">
                                                                <div
                                                                    class="modal-content bg-dark admin__modal__container__content">
                                                                    <div
                                                                        class="modal-header admin__modal__container__header">
 
                                                                        <button type="button"
                                                                            class="btn-close admin__btn__close"
                                                                            data-bs-dismiss="modal" aria-label="Close">
                                                                            <i class="fa-solid fa-xmark"></i></button>
                                                                    </div>
                                                                    <div class="modal-body movieList__modalbody">
                                                                        <div
                                                                            class="card mb-3 bg-dark  movieList__modalbody__card">
                                                                            <div
                                                                                class="row g-0 bg-dark  movieList__modalbody__card__container">
                                                                                <div
                                                                                    class="col-md-6 movieList__modalbody__card__containerImagen">
                                                                                    <img class="card-img-top"
                                                                                        src="/img/<%= movies[i].image %>"
                                                                                        class="img-fluid rounded-start"
                                                                                        alt="...">
                                                                                </div>
                                                                                <div class="moviesDetail__movieCard__infoContainer__box">

                                                                                    <h3 class="moviesDetail__movieCard__infoContainer__box__h3">
                                                                                      <%= movies[i].title %>
                                                                                    </h3>
                                                                      
                                                                                    <p class="moviesDetail__movieCard__infoContainer__box__p">Género :
                                                                      
                                                                                        <%= movies[i].genre?.name || 'Sin especificar' %>
                                                                      
                                                                                    </p>
                                                                                    <p class="moviesDetail__movieCard__infoContainer__box__p">Duración : <%= movies[i].length %> min</p>
                                                                                    <p class="moviesDetail__movieCard__infoContainer__box__p">Estreno : <%= moment(movies[i].release_date).format('YYYY-MM-DD')
                                                                                        || 'Sin especificar' %>
                                                                                    </p>
                                                                                    <p class="moviesDetail__movieCard__infoContainer__box__p">Premios : <%= movies[i].awards %>
                                                                                    </p>
                                                                                    <p class="moviesDetail__movieCard__infoContainer__box__p">Rating : <%= movies[i].rating %>
                                                                                    </p>
                                                                                    
                                                                      
                                                                      
                                                                      
                                                                      
                                                                                  </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="btn btn-sm btn-success"
                                                            href="/movies/edit/<%= movies[i].id %>"><i
                                                                class="fas fa-edit"></i></a>

                                                        <!-- Button trigger modal -->
                                                        <a href="/movies/delete/<%= movies[i].id %>" type="button"
                                                            class="btn btn-sm btn-danger">

                                                            <i class="fas fa-trash"></i>
                                                        </a>

                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>

                            </div>

                        </main>




                    </div>


                </div>

        </div>



    </body>
    <!-- ---------------------------------- -->
    <footer>

    </footer>

</html>