<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{title: movies.title }) %>

<!-- ----------------------------------- -->

<body class="body_moviesAdd">

  <div class="body_codingnepal">

    <%- include('partials/slideBarMenu') %>

    <div class="moviesAdd_box">
    
        <div class="form-wrapper_codingnepal">
          
            
            <div class="moviesAdd_box_Form">
              <section class="container">
                <header><%= movies.title %></header>
                <form class="form">
  
                  <div class="column">
  
                    <!-- rating -->
                    <div class="input-box">
                      <label>Rating</label>
                      <input name="rating" id="rating" type="number" placeholder="Rating" value="<%= movies.rating %>" required />
                    </div>
  
                    <!-- awards -->
                    <div class="input-box">
                      <label>Awards</label>
                      <input name="awards" id="awards" type="number" placeholder="Awards" value="<%= movies.awards %>" required />
                    </div>
  
                    <!-- length -->
                    <div class="input-box">
                      <label>Duracion</label>
                      <input name="length" id="length" type="number" placeholder="Duracion" value="<%= movies.length %>" required />
                    </div>
  
                    <!-- release_date -->
                    <div class="input-box">
                      <label>Estreno</label>
                      <input name="release_date" id="release_date" type="date" placeholder="Estreno" value="<%= moment(movies.release_date).format('YYYY-MM-DD') %>" required />
                    </div>
  
                  </div>
  
                  <!-- genre -->
                  <div class="column">
                    <div class="input-box">
                      <label>Género</label>
                      <div class="select-box">
                        <select name="genre_id" id="genre_id">
                        <% genres.forEach(genre => { %>
                          <option value="<%= genre.id %>" <%= genre.id === movies.genre_id && 'selected' %> ><%= genre.name %></option>
                        <% }) %>
                        </select>
                      </div>
                    </div>
  
                  </div>

  
                  <!-- btns -->
                  <div class="moviesDetail__btns">
                  
                      <div class="button_codingnepal moviesDetail__btns__container">
                        <a href="/movies/edit/<%= movies.id %>" class="glow-on-hover moviesDetail__btns__a">
                            <p class="moviesDetail__btns__p">Editar</p>
                        </a>
                      </div>
                      <div class="button_codingnepal moviesDetail__btns__container">
                        <a href="/movies/delete/<%= movies.id %>" class="glow-on-hover moviesDetail__btns__a">
                            <p class="moviesDetail__btns__p">Eliminar</p>
                        </a>
                      </div>
                  
                  </div>
                  
                </form>
              </section>
            </div>
          </div>
    
    </div>
      
  </div>
  
  <%- include('partials/scripts') %>
</body>
<!-- ---------------------------------- -->
<footer>

</footer>

</html>