<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'SalióPeli | Agregar Película' }) %>

  <!-- ----------------------------------- -->

  <body class="body_moviesAdd">

    <div class="">

      <%- include('partials/slideBarMenu') %>
      
      <div class="newestMovies__container-table">
        <div class="newestMovies__container-box-table">
          <h3 class="text-light newestMovies__title">PELÍCULAS ORDENADAS POR FECHA DE ESTRENO</h3>
          <table class="table table-hover">

            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Película</th>
                <th scope="col">Fecha de estreno</th>
    
              </tr>
            </thead>
            <% for( let i = 0; i < moviesNewest.length; i++ ) { %>
            <tbody>
              <tr>
                <td><%= i + 1 %></td>
                <td> <a href="/movies/detail/<%=moviesNewest[i].id%>"><%= moviesNewest[i].title %> </a></td>
                <td><%= moment(moviesNewest[i].release_date).format('YYYY-MM-DD') %>  </td>
              </tr>
            </tbody>      
            <% } %>
          </table>
        
        </div>
      </div>
      

    
</body>
</html>