<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'SalióPeli | Agregar Película' }) %>

  <!-- ----------------------------------- -->

  <body class="body_moviesAdd">

    <div class="">

      <%- include('partials/slideBarMenu') %>

    <table class="table table-hover">
    
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Película</th>
            <th scope="col">Fecha de estreno</th>

          </tr>
        </thead>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <tbody>
          <tr>
            <td><%= i + 1 %></td>
            <td> <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a></td>
            <td><%= moment(Movie.release_date).format('YYYY-MM-DD') %>  </td>
          </tr>
        </tbody>      
        <% } %>
      </table>
</body>
</html>